@import "./variables";

/*FOOTER*/
.footer {
    margin-top: 1rem;
    background-color: $container-lightblue;
    &__logo {
        padding-bottom: 1rem;
    }
    &__contacto {
        margin: 0rem 1rem;
        a {
            text-decoration: none;
        }
    }
    &__icono {
        font-size: 1.25rem;
        margin: 0.5rem;
    }
    &__info {
        margin-bottom: 0;
        font-size: 1rem;
    }
}